<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Trello-ApplicationKey" value=""/>
    <!--To obtain a token set your application key then run the GetAuthURL unit test, navigate to the url and allow your app access
    once you've done this copy the token and use it here.-->
    <add key="Trello-AuthToken" value=""/>

    <!--Name this whatever you'd like this will be the name of the board logs will appear on.-->
    <add key="Trello-LogBoardName" value="Application Logs"/>
    
    <!--If left empty no organiztion will be used.-->
    <add key="Trello-Organization" value=""/>
  </appSettings>
</configuration>