<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Trello-ApplicationKey" value="{YOUR APPLICATION KEY}"/>
    <add key="Trello-AuthToken" value="{YOUR TOKEN}"/>

    <!--Name this whatever you'd like this will be the name of the board logs will appear on.-->
    <add key="Trello-LogBoardName" value="Application Logs"/>
    
    <!--If left empty no organiztion will be used.-->
    <add key="Trello-Organization" value="{YOUR ORGANIZTION}"/>
  </appSettings>
</configuration>